:root {
    --base-font: 'Open Sans', sans-serif;
    --shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    --grid-width: 960px;
    --gutter: 16px;
    --radius: 8px;
    --primary-color: #2B384E;
    --secondary-color: #22BAA0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--base-font);
}

input {
    outline: none;
    border: none;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gutter);
    border-bottom: 2px solid rgb(236, 236, 236);
    background-color: var(--primary-color);
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    max-width: var(--grid-width);
    margin: 0 auto;
    padding: 0 1.6rem;

}
.full-width {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    max-width: 350px;
    /* box-shadow: var(--shadow); */
    border-radius: 8px;
    margin: var(--gutter);
}

.nav {
    display: flex;
}

.nav__item {
    margin-left: var(--gutter);
}

.btn {
    width: 100%;
    padding: 13px;
    border-radius: var(--radius);
    color: #fff;
    text-align: center;
    transition: all .3s ease;
}

.btn--primary {
    background-color: var(--secondary-color);
}

.btn--primary:hover {
    background-color: rgb(31, 170, 147);
}

.grid {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
}

.cell {
    width: calc(12.5% - 4px);
    height: calc(12.5% - 4px);
    margin: 2px;
    box-sizing: content-box;
    background-color: lightgrey;
}

.cell:hover {
    background-color: grey;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1.6rem 0;
}

.form-control {
    /* box-shadow: var(--shadow); */
    background-color: rgba(200, 200, 200, 0.15);
    margin-top: var(--gutter);
    padding: var(--gutter);
    border-radius: var(--radius);
}